## Study Pandas with Uber Dataset

### ðŸ“¦ Homework Preparation

Before you begin, please make sure to:

1. **Import the required libraries** (e.g., `pandas`, `numpy`, `matplotlib`).
2. **Read the CSV file** in the data folder (e.g.cust.csv, driver.csv)
3. **Understand your data** (e.g. What does the dataframe look like? what is its dimension? what are the columns?)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_cust = pd.read_csv('./data/cust.csv')
df_driver = pd.read_csv('./data/driver.csv')
print(df_cust.columns)
print(df_driver.columns)

Index(['cust_id', 'trip_date', 'trip_distance', 'trip_duration', 'trip_fare',
       'trip_tips', 'trip_wait_time', 'trip_rating', 'pri_id', 'cust_name',
       'trip_id', 'driver_id'],
      dtype='object')
Index(['driver_id', 'vehicle', 'test_control'], dtype='object')

### ðŸ§  Section 1: Know Your Customers

**Objective:**  
Get familar with slice, dice, filter with Pandas

**Tips:**  
- loc (label based), iloc (integer position based)
- condition selection (e.g., isin)

**Queston Set 1:**  
- set the 'trip_id' as the index for cust table
- get the customer names in the even rows from cust table
- get the customer names with trip_id in ['T100','T200']
- get names of customers who paid tips > 30%
- get customer names that have letter 'J' or 'K' in it.
- get the average tips customer 'Sandra Jordan' paid to driver
- get customer_names who ever gave driver a rating of 1, 3, or 5
- create some noise for the data by randomly regerating the trip_rating for customer 'Sandra Jordan'. Note: rating is from 1 to 5

df_cust = df_cust.set_index('trip_id')

In [7]:
df_cust.loc[::2].cust_name.drop_duplicates()

0       Jason Cunningham
22        Danielle Cross
40          Ashley Small
60      Victoria Roberts
86         Johnny Fowler
              ...
1628     Mr. Robert Cook
1646        Arthur Moore
1670     Courtney Murphy
1696       Anthony Lopez
1718        Shawn Morris
Name: cust_name, Length: 99, dtype: object

In [8]:
df_cust[df_cust.trip_id.isin(['T100', 'T200'])].cust_name.drop_duplicates()

99     Johnny Fowler
199      Anna Lawson
Name: cust_name, dtype: object

In [9]:
df_cust[df_cust['trip_tips']/df_cust['trip_fare'] > 0.3].cust_name.drop_duplicates()

3       Jason Cunningham
22        Danielle Cross
39          Ashley Small
71      Victoria Roberts
86         Johnny Fowler
              ...
1628     Mr. Robert Cook
1648        Arthur Moore
1670     Courtney Murphy
1698       Anthony Lopez
1718        Shawn Morris
Name: cust_name, Length: 92, dtype: object

In [16]:
df_cust[df_cust.cust_name.str.contains('J|K',regex=True)].cust_name.drop_duplicates()

0        Jason Cunningham
86          Johnny Fowler
116           Kari Turner
186             John Soto
207         Michael James
264          Luke Johnson
274        Kyle Hernandez
276     Jordan Richardson
358          Brian Kelley
405           Jake Miller
441           Kara Morgan
458        Keith Gonzales
484          Kenneth Hill
491           James Reyes
511          Justin Price
624          Tamara Jones
670        Kevin Peterson
723           Robert Kerr
808        Kristina Lopez
846        Arthur Johnson
868           Jasmine Lee
910      Nicholas Krueger
966        Robert Jackson
1003        Jennifer Shea
1016           Kyle Smith
1086      Justin Thompson
1205         Joseph Mills
1223           Jaime Shaw
1404         Justin Clark
1426        Jeffrey Baker
1450        Casey Jackson
1461      Johnathan Glass
1502         Neil Johnson
1556      Jessica Chapman
1565          Jaime Smith
1586        Joshua Lawson
Name: cust_name, dtype: object

In [19]:
df_cust[df_cust['cust_name']=='Jasmine Lee']['trip_tips'].mean()

np.float64(5.14764705882353)

In [22]:
df_cust[df_cust['trip_rating'].isin([1,3,5])].cust_name.unique()

array(['Jason Cunningham', 'Danielle Cross', 'Ashley Small',
       'Victoria Roberts', 'Johnny Fowler', 'Kari Turner', 'Amy Zavala',
       'Cameron White', 'Robert Flynn', 'Anna Lawson', 'Michael James',
       'Stephen Ryan', 'Corey Reyes', 'Luke Johnson', 'Kyle Hernandez',
       'Jordan Richardson', 'Tamara Henderson', 'Patricia Baker',
       'Brian Kelley', 'Teresa Hunter', 'Jake Miller', 'Linda Hall',
       'Michael Williams', 'Kara Morgan', 'Keith Gonzales', 'Scott Cooke',
       'Kenneth Hill', 'James Reyes', 'Justin Price', 'Mindy Williams',
       'Andrea Reed', 'Manuel Scott', 'Benjamin Young', 'Lisa Barron',
       'Tamara Jones', 'Bruce Parsons', 'Kevin Peterson',
       'Shannon Hanson', 'Lauren Brown', 'Robert Kerr',
       'Monica Carpenter', 'Christopher David', 'Paul Pruitt',
       'Kristina Lopez', 'Aaron Sanchez', 'Paul Green', 'Arthur Johnson',
       'Jasmine Lee', 'Ronald Rivera', 'Nicholas Krueger',
       'Angela Aguirre', 'Melanie Green', 'Steven Clark',
       'Robert Jackson', 'Melinda Benson', 'Jennifer Shea', 'Kyle Smith',
       'Mark Richardson', 'Desiree Wilson', 'Melanie Harper',
       'Justin Thompson', 'Christopher Cole', 'Haley Palmer',
       'Lisa Mcdonald', 'Anthony Wright', 'Michelle Pacheco',
       'Sharon Ray', 'Robert Evans', 'Joseph Mills', 'Rachel Nguyen',
       'Jaime Shaw', 'Richard Mills', 'Theresa Riley', 'Brandon Long',
       'Matthew Gamble', 'Corey Mendez', 'Tiffany Graves',
       'Lauren Garcia', 'Dylan Deleon DDS', 'Justin Clark',
       'Jeffrey Baker', 'Casey Jackson', 'Johnathan Glass',
       'Andrew Gibson', 'Louis Peterson', 'Neil Johnson', 'Philip Yu',
       'Carrie Hensley', 'Jessica Chapman', 'Jaime Smith',
       'Joshua Lawson', 'Carlos Haynes', 'Mr. Robert Cook',
       'Arthur Moore', 'Courtney Murphy', 'Anthony Lopez', 'Shawn Morris'],
      dtype=object)

In [23]:
df_cust['trip_rating'] = np.where(df_cust['cust_name']=='Jasmine Lee', np.random.choice([1,3,5]), df_cust['trip_rating'])

### ðŸ§  Section 2: Know the Statistics

**Objective:**  
Get familar with table summary statistic sucn as count, unique value, missing, mean, median, max

**Tips:**  
- isna(), describe()
- coont(), sum()

**Queston Set 2:**  
- how many unique customers (cust_id) are there? 
- let's say an uber account can be shared whitin a household (e.g., a cust_id can be associated with a pri_id, indicating they belong to a same househod). how many unique households are there in the data? 
- what is % of trips is booked from secondary holder?
- can you show the data type for each column?
- for each numerical column, can you output the min, max, 99% percentile, 1% percentile, count (how many rows), valid rows (non missing rows)?
- for driver.csv table, can you calculate the % of test group over total population?

### ðŸ§  Section 3: Know how to merge two tables

**Objective:**  
Get familiar with table join (e.g., inner join, left join, right join)

**Tips:**  
- concat()
- merge()

**Queston Set 3a:**  
- You found that there is a record missing from driver.csv table. Can you add it back to the driver table after your read the local file? The record is  driver_id (160), vehicle('BMW'), test_control(False)

**Queston Set 3b:**  
- Based on the two tables (cust and driver tables), can you figure out how many trips every driver made in the past? Note: if there is no trip made, it should be indicated as zero.

**Queston Set 3c:**  
- Based on the two tables (cust and driver tables), can you figure out which vehicle is mostly selected by uber customers?

### ðŸ§  Section 4: Know how to group

**Objective:**  
Get familiar with grouping

**Tips:**  
- groupby()
- apply(), transform(), lambda, agg()

**Queston Set 4a:**  
- customers paid different tip for each trip. can you find out which customer have the most and least variation in tips? The variation is defined as max(trip_tips)-min(trip_tips) for each customer?

**Queston Set 4b:**  
- figure out the total trip fare by test and control group
- figure out the contribution of each trip (% of each trip fare to total fare), segmented by test and control group

**Queston Set 4c:**  
- customer can select a driver more than once in the data. can you figure out how many unique cust-driver pair in the table?

**Queston Set 4d:**  
- not every customer paid tips in each trip. can you calculate the total number of tipping event per customer.

**Question Set 4e**
- divide the customers in 10 equal bins based on trip fare, and calculate the average tips in each bin.

### ðŸ§  Section 5: Know the time

**Objective:**  
Get familar with time time formating and time series

**Tips:**  
- to_datetime()
- shift()

**Queston Set 5a:**  
- can you calcuate the average trip fare per month, segmented by test and control group?
- can you plot the above results to show the trend?

**Queston Set 5b:**  
- A promising customer is defined as those that have 3 more trip fare increasing events (increase compared to last trip). Find all of them.

**Queston Set 5c:**  
- lag is defined as days between current trip and previous trip. calculate the average lag for each customers

### ðŸ§  Section 6: Know Pivot Table

**Objective:**  
Get familar with pivot table

**Tips:**  
- pivot()

**Queston Set 6:**  
- pivot the table so that the columns of the new table are ['test','control'], and the index is vehicle type. The values in the table should be the trip distance.

### ðŸ§  Section 7: Numpy

**Objective:**  
Get familar with numpy ans simulation

**Tips:**  
- numpy.random

**Question Set 7**
- calculate average and standard deviation of tips by bootstrapping (tips: do 100 experiments, sample 50% of the population in each experiment, and calculate mean)
- assign a probability for each trip from a uniform distribution. if the p > 0.5, sample the row, otherwise filter it.